<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify to YouTube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Spotify Downloader</h1>
    <form action="/search" method="post">
        <input type="text" name="spotify_url" placeholder="Enter Spotify URL" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
